@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('/fonts/WorkSans-Bold.ttf');
}

* {
    -fx-font-family: 'WorkSans-Bold';
}

.button {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #4F3F8C;
    -fx-text-fill: #C8C1E8;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-transition: all 0.3s ease;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #6A5FBB;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 15, 0.5, 0, 0);
}

#menuGridPane{
    -fx-background-color: #9d4dd3;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#borderPaneRoot {
    -fx-background-color: #7a27af;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#contentPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #c77ef4;
    -fx-background-image: url("/images/bochudin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;
}

#circularPane {
    -fx-background-color: #1c0925;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 150px;
    -fx-border-radius: 150px;
    -fx-background-image: url("/images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;
    -fx-effect: dropshadow(gaussian, rgba(173, 173, 237, 0.8), 20, 0.5, 0, 0);
}

#splashScreenRoot {
    -fx-background-color: transparent;
}

#loginRoot {
    -fx-background-image: url("/images/bochudin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;

    -fx-background-color: #3c214e;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#loginRoot .hyperlink {
    -fx-text-fill: #C8C1E8;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
#loginRoot .hyperlink:hover {
    -fx-text-fill: #816af1;
}

#customTitleBar {
    -fx-background-color: #120f12;
    -fx-border-color: black;
}

#maximizeButton {
    -fx-background-color: #938d59;
    -fx-background-radius: 20;
}

#minimizeButton {
    -fx-background-color: #3b6511;
    -fx-background-radius: 20;
}

#closeButton {
    -fx-background-color: #852222;
    -fx-background-radius: 20;
}

#connectBox, #aboutBox, #settingsBox, #contactBox, #logsBox {
    -fx-background-color: #ca930e;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-padding: 10;
    -fx-background-radius: 5;
}

.text-info {
    -fx-font-size: 18;
    -fx-fill: black;
}