@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('/fonts/WorkSans-Bold.ttf');
}

* {
    -fx-font-family: 'WorkSans-Bold';
}

#menuGridPane .button, #loginRoot .button, #themeButton, #tutorialButton, #settingButtonBar .button, #connectRoot .button, #logRoot .button, .alert .button {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #00bcd4;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-transition: all 0.3s ease;
    -fx-font-weight: bold;
}

#menuGridPane .button:hover, #loginRoot .button:hover, #themeButton:hover, #tutorialButton:hover, #settingsRoot .button:hover,#connectRoot .button:hover, #logRoot .button:hover, .alert .button:hover{
    -fx-background-color: #90f0fa;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 15, 0.5, 0, 0);
}

#menuGridPane{
    -fx-background-color: #121212;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#borderPaneRoot {
    -fx-background-color: #212121;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#contentPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #424242;
}

#circularPane {
    -fx-background-color: #0c0909;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 150px;
    -fx-border-radius: 150px;
    -fx-background-image: url("/images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;
    -fx-effect: dropshadow(gaussian, rgba(168, 168, 250, 0.8), 20, 0.5, 0, 0);
}

#splashScreenRoot {
    -fx-background-color: transparent;
}

#loginRoot {
    -fx-background-image: url("/images/bochudin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;

    -fx-background-color: #212121;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#loginRoot .hyperlink {
    -fx-text-fill: #C8C1E8;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
#loginRoot .hyperlink:hover {
    -fx-text-fill: #816af1;
}

#customTitleBar {
    -fx-background-color: #120f12;
    -fx-border-color: black;
}

#maximizeButton {
    -fx-background-color: #938d59;
    -fx-background-radius: 20;
}

#minimizeButton {
    -fx-background-color: #3b6511;
    -fx-background-radius: 20;
}

#closeButton {
    -fx-background-color: #852222;
    -fx-background-radius: 20;
}

#connectBox, #aboutBox, #settingsBox, #contactBox, #logsBox {
    -fx-background-color: #434343;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-border-width: 3;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-info {
    -fx-font-size: 18;
    -fx-fill: black;
}

.button:disabled {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #a9a9a9;
    -fx-opacity: 50%;
}

#tutorialButton, #themeButton {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.tooltip {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-font-family: WorkSans;
    -fx-font-size: 10;
    -fx-border-radius: 5;
    -fx-padding: 8;
}

#logsTable {
    -fx-background-color: #424242;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-size: 15;
}

#logsTable .table-column-header {
    -fx-font-weight: bold;
}

#logsTable .table-row-cell:empty {
    -fx-background-color: transparent; /* No background for empty rows */
    -fx-border-color: transparent; /* No border for empty rows */
}

#logsTable .table-row-cell:hover:empty {
    -fx-background-color: transparent; /* Prevent hover effect for empty rows */
}

#logsTable .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1; /* Border width */
    -fx-border-style: solid; /* Border style */
    -fx-font-size: 18;
    /* add bigger line height */
    -fx-padding: 10 10 10 10;
    -fx-font-weight: bold;
}

#logsTable .table-row-cell:hover {
    -fx-background-color: #90f0fa; /* Regular hover effect for non-empty rows */
}

#logsTable .table-row-cell:selected {
    -fx-background-color: #00bcd4; /* Selected row color */
}

#settingsGridPane {
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#botSettingsLabel, #userSettingsLabel, #APISettingsLabel {
    -fx-font-size: 22;
    -fx-text-fill: #00bcd4;
    -fx-font-weight: bold;
}

#dbFileButton {
    -fx-background-color: white;
    -fx-pref-width: 50;
    -fx-pref-height: 20;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-alignment: center;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}

.check-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-padding: 0; /* Remove padding to ensure square shape */
    -fx-background-radius: 0; /* Ensure square corners */
    -fx-border-radius: 0; /* Ensure square corners */
    -fx-min-width: 20px; /* Set minimum width */
    -fx-min-height: 20px; /* Set minimum height */
    -fx-pref-width: 20px; /* Set preferred width */
    -fx-pref-height: 20px; /* Set preferred height */
}

#settingsGridPane .font-icon {
    -fx-font-size: 30;
    -fx-fill: black;
}

.check-box:selected {
    -fx-background-color: #00bcd4;
    -fx-border-color: black;
}

.check-box:selected .box .mark {
    -fx-background-color: white;
}

#settingsGridPane .separator {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.alert {
    -fx-background-color: #333333; /* Dark background color */
    -fx-text-fill: black; /* White text color */
    -fx-border-color: #555555; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-border-radius: 5; /* Rounded corners */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-padding: 5;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.alert .dialog-pane {
    -fx-background-color: #333333; /* Dark background color for the dialog pane */
    -fx-border-color: #555555; /* Border color for the dialog pane */
    -fx-border-width: 2; /* Border width for the dialog pane */
    -fx-border-radius: 5; /* Rounded corners for the dialog pane */
    -fx-background-radius: 5; /* Rounded corners for the dialog pane */
}

.alert .header-panel {
    -fx-background-color: #444444; /* Slightly lighter background for the header */
    -fx-text-fill: white; /* White text color for the header */
}

.alert .content {
    -fx-background-color: #333333; /* Dark background color for the content */
    -fx-text-fill: white; /* White text color for the content */
}

.alert .button-bar {
    -fx-border-width: 1; /* Border width for the button bar */
    -fx-padding: 5;
    -fx-alignment: center;
}

.alert .button-bar .button {
    -fx-pref-height: 20;
}