.button {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #4F3F8C;
    -fx-text-fill: #C8C1E8;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-transition: all 0.3s ease;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #6A5FBB;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 15, 0.5, 0, 0);
}

#menuGridPane{
    -fx-background-color: #9d4dd3;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#borderPaneRoot {
    -fx-background-color: #7a27af;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#contentPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #c77ef4;
    -fx-background-image: url("/images/bochudin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;
}

#circularPane {
    -fx-background-color: orange;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 150px;
    -fx-border-radius: 150px;
    -fx-background-image: url("/images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;
}

#splashScreenRoot {
    -fx-background-color: transparent;
}

