@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('/fonts/WorkSans-Bold.ttf');
}

* {
    -fx-font-family: 'WorkSans-Bold';
}

.button {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #00bcd4;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-transition: all 0.3s ease;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #90f0fa;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 15, 0.5, 0, 0);
}

#menuGridPane{
    -fx-background-color: #121212;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#borderPaneRoot {
    -fx-background-color: #212121;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#contentPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #424242;
}

#circularPane {
    -fx-background-color: #0c0909;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 150px;
    -fx-border-radius: 150px;
    -fx-background-image: url("/images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;
    -fx-effect: dropshadow(gaussian, rgba(168, 168, 250, 0.8), 20, 0.5, 0, 0);
}

#splashScreenRoot {
    -fx-background-color: transparent;
}

#loginRoot {
    -fx-background-image: url("/images/bochudin.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;

    -fx-background-color: #212121;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#loginRoot .hyperlink {
    -fx-text-fill: #C8C1E8;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
#loginRoot .hyperlink:hover {
    -fx-text-fill: #816af1;
}

#customTitleBar {
    -fx-background-color: #120f12;
    -fx-border-color: black;
}

#maximizeButton {
    -fx-background-color: #938d59;
    -fx-background-radius: 20;
}

#minimizeButton {
    -fx-background-color: #3b6511;
    -fx-background-radius: 20;
}

#closeButton {
    -fx-background-color: #852222;
    -fx-background-radius: 20;
}

#connectBox, #aboutBox, #settingsBox, #contactBox, #logsBox {
    -fx-background-color: #434343;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-border-width: 3;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-info {
    -fx-font-size: 18;
    -fx-fill: black;
}

.button:disabled {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #a9a9a9;
    -fx-opacity: 50%;
}

#tutorialButton, #themeButton {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.tooltip {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-font-family: WorkSans;
    -fx-font-size: 10;
    -fx-border-radius: 5;
    -fx-padding: 8;
}

#logsTable {
    -fx-background-color: #424242;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-size: 15;
}

#logsTable .table-column-header {
    -fx-font-weight: bold;
}

#logsTable .table-row-cell:empty {
    -fx-background-color: transparent; /* No background for empty rows */
    -fx-border-color: transparent; /* No border for empty rows */
}

#logsTable .table-row-cell:hover:empty {
    -fx-background-color: transparent; /* Prevent hover effect for empty rows */
}

#logsTable .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1; /* Border width */
    -fx-border-style: solid; /* Border style */
    -fx-font-size: 18;
    /* add bigger line height */
    -fx-padding: 10 10 10 10;
    -fx-font-weight: bold;
}

#logsTable .table-row-cell:hover {
    -fx-background-color: #90f0fa; /* Regular hover effect for non-empty rows */
}

#logsTable .table-row-cell:selected {
    -fx-background-color: #00bcd4; /* Selected row color */
}

#settingsGridPane {
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#botSettingsLabel, #userSettingsLabel {
    -fx-font-size: 22;
    -fx-text-fill: #00bcd4;
    -fx-font-weight: bold;
}

.check-box {
    -fx-box-border: black;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-padding: 5;
}

.check-box:selected {
    -fx-background-color: #00bcd4;
    -fx-border-color: black;
}

.check-box:selected .box .mark {
    -fx-background-color: white;
}

#settingsGridPane .separator {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 2;
}

